body{
  background-color: #4f4f4f;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: grid;
  place-items: center;
}

.Prueba{
  display: flex;
  background-color: #fcd532;
  border-radius: 12px;
  box-shadow: 0 0 10px #313030;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  gap: 20px;
}

.Prueba h2{
  color: #313030;
  font-size: 40px;
  margin: 10px;
}

p{
  color: #313030;
  font-size: 14px;
  text-align: start;
  width: 300px;
  margin: 0;
}

input{
  border: none;
  background-color: #ffffff;
  border-radius: 12px;
  height: 25px;
  width: 300px;
  padding: 8px;
  box-shadow: 0 0 7px #b49825;
}

button{
  border: none;
  background-color: #313030;
  color: #ffffff;
  border-radius: 12px;
  height: 35px;
  width: 250px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 10px #313030;
}

button:hover{
  background-color: #4f4f4f;
}

a{
  color: #313030;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}